version: '3.8'

services:
  backend:
    build: .
    container_name: back-iso
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:C3UDGlfJ2zM5V9@db.qabyzqvfxdwxyqhmkarv.supabase.co:5432/postgres
    volumes:
      - uploads:/app/uploads

volumes:
  uploads: